body {
  font-size: 16px;
  background: rgba(0,0,0,0.4);
}

body h1{
  color: white;
}

img {
  border: 0;
}
section img {
  display: inline-block;
  width: 6em;
  height: 6em;
}
section .texto {
  width: 70%;
  height: auto;
  display: inline-block;
}
section .texto h1 {
  font-weight: bold;
}
.sonido {
  position: relative;
  vertical-align: middle;
}
.sonido img {
  width: 5em;
  height: 5em;
}
.sonido span {
  vertical-align: baseline;
}

.resp ul{
  list-style-type: none;
}

.resp ul li{
  padding: 0 0.5em;
  display: inline;
}

.final .principal a{
  padding: 0.2em;
  background: white;
  border-radius: 2em;
}

 .reveal section img{
    width: 4em;
    height: 4em;
  }


@media (max-width:961px){
    .reveal h2{
      font-size: 0.5em;
    }
  .reveal section img{
    width: 4em;
    height: 4em;
  }
  .resp ul li{
    font-size: 15px;
  }

}
