body
  font-size: 16px

img
  border: 0

section
  img
    display: inline-block;
    width: 6em
    height: 6em
  .texto
    h1
      font-weight: bold;
    width: 70%
    height: auto
    display: inline-block;

.sonido
  position: relative;
  vertical-align: middle;
  img
    width: 5em
    height: 5em
  span
    vertical-align: baseline;

/*
.hand
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
*/
